<div class="webpage-content-inner">
    <div class="content-box">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Batch Operation Type</label>
                        <div class="col-sm-10">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-date current">Activation</button>
                                <button type="button" class="btn btn-date">Suspension</button>
                                <button type="button" class="btn btn-date">Reactivation</button>
                                <button type="button" class="btn btn-date">Termination</button>
                                <button type="button" class="btn btn-date">Change Credit Limit</button>
                                <button type="button" class="btn btn-date">SIM Swap</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">File Upload</label>
                        <div class="col-sm-10">
                            <div class="filelist">
                                <ul class="filelist-ul">
                                    <li class="filelist-item">
                                        <div class="info"><img src="../../image/pic.png"></div>
                                    </li>
                                </ul>
                                <div class="fileinput-pick">
                                    <i class="iconfont icon-tianjia"></i>
                                    <input class="fileinput-input js-input-file" type="file">
                                </div>
                                <div class="fileinput-tips">Click or drag the file here</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="description">
                                <span class="iconfont icon-jingtanhao"></span>
                                <ul>
                                    <li>This is Required value,for Example:13000000000</li>
                                    <li>The file size limit is 2MB</li>
                                    <li>The maximum files count is 20</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-primary">Upload</button>
                                <button type="button" class="btn btn-link btn-min-width">Member Information Template</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>