<div class="webpage-content-inner">
    <div class="content-box">
        <div class="dropdown">
            <button data-toggle="dropdown" class="btn btn-primary" type="button" id="dropdown">
                Export
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">PDF Document</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">CSV Document</a>
                </li>
            </ul>
        </div>
        <div id="Grid"></div>
        <div class="flow-box hide">
            <table class="tables">
                <thead>
                    <tr>
                        <th>MSISDN</th>
                        <th>IMSI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9602001000015</td>
                        <td>655122000000015</td>
                    </tr>
                    <tr>
                        <td>9602001000015</td>
                        <td>655122000000015</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>