<div class="webpage-content-inner">
    <div class="layout-box block-quarter">
        <div class="layout-block">Welcome Marcus Doe</div>
        <div class="layout-block">Devices</div>
        <div class="layout-block">APNs</div>
        <div class="layout-block">Total Due</div>
    </div>
    <div class="layout-box block-half">
        <div class="layout-block">Devices Connection Status</div>
        <div class="layout-block">Devices Suspension Status</div>
    </div>
    <div class="layout-box block-half">
        <div class="layout-block">Top 10 Devices</div>
        <div class="layout-block">Last Bills</div>
    </div>
    <div class="layout-box block-hundred">
    <div class="layout-block">per day data usage</div>
    </div>
</div>