<div class="webpage-content-inner">
    <div class="content-box">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="pull-left control-label">Billing Cycle</label>
                        <div class="btn-toolbar">
                            <button type="button" class="btn btn-date current">2017-07</button>
                            <button type="button" class="btn btn-date">2017-06</button>
                            <button type="button" class="btn btn-date">2017-05</button>
                            <button type="button" class="btn btn-date">2017-04</button>
                            <button type="button" class="btn btn-date">2017-03</button>
                            <button type="button" class="btn btn-date">2017-02</button>
                            <div class="btn-group change-date"><input type="text" id="ChangeDate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="Tabs" class="ui-tabs con-tabs">
            <ul class="ui-tabs-nav">
                <li>
                    <a href="#tabs-a">Top 10 Data</a>
                </li>
                <li>
                    <a>Top 10 SMS</a>
                </li>
                <li>
                    <a>Top 10 SIMs</a>
                </li>
            </ul>
            <div id="tabs-a" class="ui-tabs-panel">
                <div class="dropdown">
                    <button data-toggle="dropdown" class="btn btn-primary" type="button" id="dropdown">
                        Export
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">PDF Document</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="#">CSV Document</a>
                        </li>
                    </ul>
                </div>
                <div id="Grid"></div>
            </div>
            <div class="ui-tabs-panel">
                
            </div>
            <div class="ui-tabs-panel">
                
            </div>
        </div>
    </div>
</div>