<form class="form-box">
    <div class="form-head">
        <div class="login-tit">Forget the Password</div>
    </div>
    <div class="from-group">
        <input type="text" id="UserName" class="user-text user-name" name="" placeholder="User Name" maxlength="11">
    </div>
    <div class="from-group">
        <input type="text" id="code" class="user-text user-code" placeholder="enter the captcha code" maxlength="4">
        <img src="image/code.png" class="code-img">
    </div>
    <div class="from-group">
        <button type="button" class="login-btn" id="SetPassword">Submit</button>
    </div>
    <div class="from-group mt-0">
        <div class="form-info">
            <p>Mail has been sent to your mailbox, </p>
            <p><a href="#">click to open the mailbox.</a></p>
        </div>
    </div>
</form>
<div class="regist-info">
    <a href="#" id="signIn">Back to login</a>
</div>
