<div class="login-wrapper">
    <div class="login-wrapper-box">
        <div class="login-con">
            <div id="header" class="login-header">
                <img src="../../image/login-logo.png">
            </div>
            <div class="login-box">
                <div class="login-ad">
                    <div class="slide" id="slide-login">
                        <ul class="slide-img">
                            <li class="slide-list">
                                <img src="../../image/ad1.png">
                            </li>
                            <li class="slide-list">
                                <img src="../../image/ad2.png">
                            </li>
                            <li class="slide-list">
                                <img src="../../image/ad3.png">
                            </li>
                        </ul>
                        <ul class="slide-btn"></ul>
                    </div>
                </div>
                <div class="form-con">
                    <div id="loginForm" class="login-form-wrapper"></div>
                </div>
            </div>
        </div>
        <div id="footer" class="webpage-footer">
            <div class="copyright">
                <div>&copy; Copyright 2014 MTN. All Rights Reserved. ZTEsoft provide technical support services</div>
                <div>Recommended browsers IE9, IE10, IE11, Firefox, Safari, Opera, Chrome</div>
            </div>
        </div>
    </div>
</div>
