<form class="form-box">
    <div class="form-head">
        <div class="login-tit">Sign Up</div>
    </div>
    <div class="from-group">
        <span class="first-code">0</span>
        <input type="text" id="mobile" class="user-text user-name" name="mobile" placeholder="Mobile Number" maxlength="11">
    </div>
    <div class="from-group">
        <input type="password" id="password" class="user-text user-pwd" name="password" placeholder="Password" maxlength="6">
    </div>
    <div class="from-group">
        <input type="password" id="repeatPassword" class="user-text user-pwd" name="password" placeholder="Repeat Password" maxlength="6">
    </div>
    <div class="from-group mt-10">
        <input type="text" id="code" class="user-text user-code" placeholder="Verification Code" maxlength="4">
        <a href="#" class="get-Verify-code">Get</a>
    </div>
    <div class="from-group mt-10">
        <label class="terms-conditions"><input type="checkbox"> I Have Read and Accept
            <a href="#">The Terms and Conditions</a>
        </label>
    </div>
    <div class="from-group mt-10">
        <button type="button" class="regist-btn">Registration</button>
    </div>
</form>
<div class="regist-info">
    <p>Have an account ? <a href="#" id="signIn"> Login !</a></p>
</div>
