
<div>
	<div class="col-xs-12 col-sm-6 no-padding">
		<div class="col-sm-12 account-tit" id='acctResName'></div>
		<div class="col-sm-12 account-con">{{SC_FROM}} <span id='effDate'></span> {{SC_TO}} <span id='expDate'></span>
		</div>
	</div>
	<div class="col-xs-12 col-sm-3 no-padding text-right">
		<div class="col-sm-12 account-tit" >{{SC_CONSUME_BALANCE}}</div>
		<div class="col-sm-12 account-con cash" id='consumeBal'></div>
	</div>
	<div class="col-xs-12 col-sm-3 no-padding text-right">
		<div class="col-sm-12 account-tit">{{SC_REMAIN_BALANCE}}</div>
		<div class="col-sm-12 account-con free" id='remainBal'></div>
	</div>
</div>