<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{SC_CHANGE_PWD}}</h3>
			</div>
			<div class="box-body">
				<div class="description">
					<div><i class="iconfont icon-tishi"></i></div>
					<ul>
						<li><span> * </span>{{SC_CHANGE_PWD_HINT1}}</li>
						<li><span> * </span>{{SC_CHANGE_PWD_HINT2}}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<form class="form form-horizontal" id='changePwdForm'>
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 control-label">{{SC_CUSTOMER_NAME}}</label>
							<div class="col-xs-12 col-sm-8 input-group">
							  	<input type="text" id='cust' class="form-control form-control-static" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 control-label">{{SC_MOBILE_NUMBER}}</label>
							<div class="col-xs-12 col-sm-4 input-group">
								<input type="text" id='AccNbr' class="form-control form-control-static" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 control-label">{{SC_OLD_PWD}}</label>
							<div class="col-xs-12 col-sm-4 input-group form-help-box">
							  	<input type="password" id='oldPassword' class="form-control"  onpaste="return false" onselectstart="return false" >
							  	<span class="form-eye">
							  		<i id="oldPasswordImgClose" class="fa fa-eye" style="display: none;"></i>
									<i id="oldPasswordImg" class="fa fa-eye-slash"></i>
							  	</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 control-label">{{SC_PASSWORD}}</label>
							<div class="col-xs-12 col-sm-4 input-group form-help-box">
								<input type="password" name='password' id='password' class="form-control "  onpaste="return false" onselectstart="return false">
								<span class="form-eye">
									<i id="passwordImgClose" class="fa fa-eye" style="display: none;"></i>
									<i id="passwordImg" class="fa fa-eye-slash"></i>
								</span>

							</div>
							
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-4 control-label">{{SC_CONFIRM_PWD}}</label>
							<div class="col-xs-12 col-sm-4 input-group form-help-box">
							  	<input type="password" id='repeatPwd' name ='repeatPwd' class="form-control"  onpaste="return false" onselectstart="return false" data-rule="required;match(password);filter" >
								<span class="form-eye">
									<i id="repeatPwdImgClose" class="fa fa-eye" style="display: none;"></i>
									<i id="repeatPwdImg" class="fa fa-eye-slash"></i>
								</span>
							</div>
						</div>
						<div class="form-group form-button">
							<div class="col-xs-12 col-sm-offset-4 col-sm-4 input-group">
							  <button id='changePwd' type="button" class="btn btn-primary">{{SC_OK}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>