
<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="form-group">
		<label class="col-xs-12 col-sm-4 control-label">{{SC_CUSTOMER_NAME}}</label>
		<div class="col-xs-12 col-sm-8 input-group">
			<input type="text" id='custName'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_CREATED_DATE}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='createDate'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_CUSTOMER_TYPE}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='custType'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_DOC_TYPE}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='docType'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-12 col-sm-4 control-label">{{SC_DOC_NUMBER}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='docNumberShow'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_GENDER}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='gender'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_BIRTHDAY}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='birthday'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_EMAIL_ADDRESS}}</label>
		<div class="col-xs-12 col-sm-4 input-group">
			<input type="text" id='email'
				class="form-control form-control-static" readonly value="">
		</div>
	</div>
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_ADDRESS}}</label>
		<div class="col-xs-12 col-sm-6 input-group">
			<input id='address' class="form-control form-control-static" readonly>
			</textarea>
		</div>
	</div>
	
	<div class="form-group" style='display:none'>
		<label class="col-xs-12 col-sm-4 control-label">{{SC_CONTACT_NUMBER}}</label>
		<div class="col-xs-12 col-sm-6 input-group">
			<input id='contactNumber' class="form-control form-control-static"
				readonly></input>
		</div>
	</div>
	
	<div class="form-group" style='display:none'>
		<label class="col-sm-4 control-label">{{SC_OCCUPATION}}</label>
		<div class="col-sm-4">
			<input type="text" id='Occupation' class="form-control form-control-static">
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-12 col-sm-4 control-label">{{SC_NRC_IMG}}</label>
		<div class="col-xs-12 col-sm-6 input-group">
			<div id="descDiv" class="description form-control-static" style='display:none'>
				<div><i class="iconfont icon-tishi"></i></div>
				<ul class="list-unstyled">
					<li>{{SC_CUST_NRC_SIZE}}</li>
					<li>{{SC_CUST_NRC_TYPE}}</li>
				</ul>
			</div>
			<div id="frontDiv" class="fileinput-container" style='display:none'>
                <div class="fileinput-pick">
                    *{{SC_CUST_NRC_FRONT_UPLOAD}}
                </div>
                <input type="file" id="frontSideFile" class="fileinput-input" data-ui-role="fileupload" accept="image/jpeg,image/jpg,image/png">
          	</div>
          	<div class="fileinput-container" id="frontFileDiv" style='display:none'>
		        <ul id="frontFilelist" class="filelist-ul">
		        </ul>
		    </div>
          	
          	<div id="backDiv" class="fileinput-container" style='display:none'>
                <div class="fileinput-pick">
                    {{SC_CUST_NRC_BACK_UPLOAD}}12
                </div>
                <input type="file" id="backSideFile" class="fileinput-input" data-ui-role="fileupload" accept="image/jpeg,image/jpg,image/png">
          	</div>
          	<div class="fileinput-container" id="backFileDiv" style='display:none'>
		        <ul id="backFilelist" class="filelist-ul"></ul>
		    </div>
          	
          	<div id="frontshowDiv" class="fileinput-container" style='display:none'>
          		<div class="enlarge-img" id="frontImg"></div>
          		<div class="info">{{SC_CUST_NRC_FRONT_SIDE}}</div>
          	</div>
          	<div id="backshowDiv" class="fileinput-container" style='display:none'>
          		<div class="enlarge-img" id="backImg"></div>
          		<div class="info">{{SC_CUST_NRC_BACK_SIDE}}</div>
          	</div>
		</div>
	</div>
	
    <div class="form-group form-button">
		<div class="col-sm-offset-4 col-xs-12 col-sm-8 input-group">
			<button type="button" class="btn btn-primary" id="up_btn" style="margin-right:6px;margin-bottom:6px;display:none;">{{SC_SUBMIT}}</button>
			<button type="button" class="btn btn-primary" id="customerEidt" style="margin-right:6px;margin-bottom:6px;">{{SC_EDIT}}</button>
			<button type="button" class="btn btn-primary" id="imgEidt" style="margin-bottom:6px;">{{SC_EDIT_IMG}}</button>
		</div>
	</div>
</div>
