<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{SC_SIM_LOST_RESTORE}}</h3>
			</div>
			<div class="box-body">
				<div class="description">
					<div><i class="iconfont icon-tishi"></i></div>
					<ul>
						<li><span> * </span>{{SC_SIM_LOST_RESTORE_COMMENTS1}}</li>
						<li><span> * </span>{{SC_SIM_LOST_RESTORE_COMMENTS2}}</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<form id="customerEidtForm" class="form form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_MOBILE_NUMBER}}</label>
							<div class="col-sm-4 input-group">
							  	<input type="text" class="form-control form-control-static accNbrId" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_ICCID}}</label>
							<div class="col-sm-4 input-group">
								<input type="text" class="form-control form-control-static iccidId" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_PUK1}}</label>
							<div class="col-sm-4 input-group">
							  	<input type="text" class="form-control form-control-static puk1Id" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_PUK2}}</label>
							<div class="col-sm-4 input-group">
								<input type="text" class="form-control form-control-static puk2Id" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_STATUS}}</label>
							<div class="col-sm-4 input-group">
							  	<input type="text" class="form-control form-control-static lost-active prodStateNameId" readonly value="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">{{SC_STATUS_DATE}}</label>
							<div class="col-sm-4 input-group">
								<input type="text" class="form-control form-control-static stateDateId" readonly value="">
							</div>
						</div>
						<div class="form-group form-button">
							<div class="col-sm-offset-4 col-sm-4 input-group">
							  	<button type="button" class="btn btn-primary btn_submit">{{SC_SIM_CARD_LOST}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
