 <div class="package-process">
                                <div class="package-name">
                                    <span class="des" id='packageName'></span>
                                </div>
                                <div class="package-remainder">
                                    <span class="des">{{SC_REMAINING}} : <span class="digit" id='remain'></span></span>
                                </div>
                                <div class="progress-box">
                                    <div class="progress-value" id='percent'></div>
                                </div>
                                <div class="package-usage">
                                    <span class="des">{{SC_USAGE}} : <span class="shadow" id='usage'></span></span>
                                </div>
                                <div class="package-total">
                                    <span class="des">{{SC_TOTAL}} : <span class="shadow" id='total'></span></span>
                                </div>
</div>