<div class="ui-dialog dialog-sm">
	<div class="modal-header">
		<h4 class="modal-title">{{SC_VER_CODE}}</h4>
	</div>
	<div class="modal-body">
		<form class="form-box form">
			<div class="from-group form-help-box">
				<input type="text" data-rule="required" id="code"
					class="form-control user-text user-code"
					placeholder="{{SC_VER_CODE}}" maxlength="6">
				<button type="button" class="btn form-get" id="btnGet"  
				disable="disabled">{{SC_GET}}</button>
			</div>
		</form>
	</div>
	<div class="modal-footer">
			<button type="button" class="btn" id="submit">{{SC_SUBMIT}}</button>
	</div>
</div>