<div class="webpage-content-inner">
    <div class="content-box">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Old Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" name="" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-5">
                            <input type="password" id="Password" class="form-control" name="" placeholder="New Password">
                            <div class="pwd-tips">
                                <div class="pwd-strength">
                                    <div class="pwd-tips-gray" id='pwdLevel_1'> </div>
                                    <div class="pwd-tips-gray" id='pwdLevel_2'> </div>
                                    <div class="pwd-tips-gray" id='pwdLevel_3'> </div>
                                </div>
                                <div class="pwd-tips-text">
                                    Strength: Strong Middle Low
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Confirm Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" name="" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
                <div class="btn-toolbar edit-btn">
                    <button type="button" class="btn btn-primary js-submit">Submit</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
                <div class="btn-toolbar detail-btn" style="display:none;">
                    <button type="button" class="btn btn-primary btn-min-width js-edit">Edit</button>
                    <button type="button" class="btn btn-default">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>