<div class="box">
    <div class="box-header">
        <h3 class="box-title">Department</h3>
    </div>
    <div class="box-con">
        <div class="sub-box-header">
            <h3 class="sub-box-title"><i class="iconfont icon-BasicInformation"></i>Basic Information</h3>
        </div>
        <form class="form-horizontal" id="Form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Department Name</label>
                        <div class="col-sm-6">
                            <input type="text" name="" class="form-control" value="Company001">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Department Code</label>
                        <div class="col-sm-6">
                            <input type="text" name="" class="form-control" value="4783">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Decision Makers</label>
                        <div class="col-sm-6">
                            <input type="text" name="" class="form-control" value="Admin001">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Decision Makers Contact</label>
                        <div class="col-sm-6">
                            <input type="text" name="" class="form-control" value="Company001">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="sub-box-header">
            <h3 class="sub-box-title"><i class="iconfont icon-Users"></i>Member</h3>
        </div>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-11" style="width: 90.66666667%;">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Account No.</label>
                                <div class="col-sm-6">
                                    <input type="text" name="" class="form-control" value="Company001">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="width: 28.33333333%;">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">MSISDN</label>
                                <div class="col-sm-6">
                                    <input type="text" name="" class="form-control" value="4783">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" style="width: 38.33333333%;">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Employee Name</label>
                                <div class="col-sm-6">
                                    <input type="text" name="" class="form-control" value="Admin001">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1" style="width: 9.33333333%;">
                    <button type="button" class="btn btn-primary">Query</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-9">
                <div class="btn-toolbar">
                    <button type="button" class="btn btn-outline-primary">Change Status</button>
                    <button type="button" class="btn btn-outline-default">Change Subs Plan</button>
                    <button type="button" class="btn btn-outline-default">Change Credit</button>
                    <button type="button" class="btn btn-outline-default">...</button>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <label class="checkbox-inline" style="padding-top: 6px;">
                    <input type="checkbox" name="HideButtons" value="">Show Sub-sector Members
                </label>
            </div>
        </div>
        <div id="Grid"></div>
    </div>
</div>
