<form class="form-box">
    <div class="form-head">
        <div class="login-tit">Log In</div>
    </div>
    <div class="from-group">
        <input type="text" id="UserName" class="user-text user-name" name="" placeholder="User Name" maxlength="11">
    </div>
    <div class="from-group">
        <input type="password" id="password" class="user-text user-pwd" name="password" placeholder="Password" maxlength="6">
    </div>
    <div class="from-group mt-10">
        <input type="text" id="code" class="user-text user-code" placeholder="enter the captcha code" maxlength="4">
        <img src="image/code.png" class="code-img">
    </div>
    <div class="from-group mt-10">
        <a href="#" id="forgotPwd" class="form-tips">Forget Password?</a>
        <label class="remember-me"><input type="checkbox"> Remember Me</label>
    </div>
    <div class="from-group mt-10">
        <button type="button" id="loginStep" class="login-btn">Login</button>
    </div>
</form>
