<div class="login-tit">PASSWORD RESET</div>
<form class="form-box password-reset">
    <div class="from-group">
        <img src="images/success.png">
    </div>
    <div class="from-group">
        <p>your password has benn sent to you.</p>
    </div>
    <div class="from-group">
        <button type="button" class="login-btn">Submit</button>
    </div>
    <div class="from-group">
        <div class="form-verify">
            <a href="#" id="signIn">Go to Login</a>
        </div>
    </div>
</form>
<div class="regist-info">
    <p>Already have an account ,<a href="#" id="signIn">Sign In !</a></p>
</div>
