<form class="form-box">
    <div class="form-head">
        <div class="login-tit">Set Password</div>
    </div>
    <div class="from-group">
        <input type="text" id="UserName" class="user-text user-name" name="" placeholder="User Name" maxlength="11" value="ZTESOFT">
    </div>
    <div class="from-group">
        <input type="password" id="Password" class="user-text user-pwd" name="" placeholder="Password">
        <div class="pwd-tips">
            <div class="pwd-strength">
                <div class="pwd-tips-gray" id='pwdLevel_1'> </div>
                <div class="pwd-tips-gray" id='pwdLevel_2'> </div>
                <div class="pwd-tips-gray" id='pwdLevel_3'> </div>
            </div>
            <div class="pwd-tips-text">
                Strength: Strong Middle Low
            </div>
        </div>
    </div>
    <div class="from-group">
        <input type="password" id="ConfirmPwd" class="user-text user-pwd" name="" placeholder="Confirm Password">
    </div>    
    <div class="from-group mt-10">
        <button type="button" class="login-btn" id="SetPassword">Submit</button>
    </div>
    <div class="from-group mt-0">
        <div class="form-info">
            <p>Password set up successfully.</p>
        </div>
    </div>
</form>
