<div class="webpage-content-inner">
    <div class="content-box">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Batch Create Time</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="" class="form-control" id="CreateTimeStart">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="" class="form-control" id="CreateTimeEnd">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Batch No.</label>
                        <div class="col-sm-7">
                            <input type="text" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Batch Execution Time</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="" class="form-control" id="ExecutionTimeStart">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="" class="form-control" id="ExecutionTimeEnd">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Batch State</label>
                        <div class="col-sm-7">
                            <input type="text" name="" class="form-control" id="BatchState">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Batch Number</label>
                        <div class="col-sm-4">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Batch Event</label>
                        <div class="col-sm-7">
                            <input type="text" name="" class="form-control" id="BatchEvent">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="btn-toolbar pull-right">
                        <button type="button" class="btn btn-primary">Query</button>
                        <button type="button" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </div>
        </form>
        <div id="Grid"></div>
    </div>
</div>