<div class="header-con">
	<div class="header-slogan">
		<a href="#" class="logo"> <span class="logo-iocn"> <img
				src="images/logo.png" alt="logo">
		</span>
		</a>
	</div>
	<nav class="header-handle">
		<div class="handle-custom-menu">
			<ul class="menu-ul">
				<li><a href="javascript:void(0);" id="language-down" class="language-down"> <span
						id='langSpan'>English</span> <i class="fa fa-caret-down"></i>
				</a>

					<div class="language-list" id='lang_list'>


						<!--<div  lang ='zh' label='中文'>中文</div>
                <div  lang ='en' label='English'>English</div>-->
					</div></li>
				<li class="login-out-box"><a href="#" id="loginOut"> <i
						class="iconfont icon-logout"></i> <span class="login-out">{{SC_LOGOUT}}</span>
				</a></li>
				<li class="aside-toggle"><a href="javascript:;"
					id="asideToggle"> <i class="fa fa-reorder"></i>
				</a>
				<div class="menu-info">
                    {{SC_MENU_INFO}}
                    <div class="arrow-top"><span></span></div>
                </div>
				</li>
			</ul>
		</div>
	</nav>

</div>