<div class="header-con">
    <div class="header-slogan">
        <a href="#" class="logo">
            <span class="logo-iocn">
                <img src="images/logo.png" alt="logo">
            </span>
        </a>
    </div>
    <nav class="header-handle">
        <div class="handle-custom-menu">
            <ul class="menu-ul">
                <li>
                    <a href="#" id="language-down" class="language-down">
                        <span>English </span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="language-list">
                        <div>中文</div>
                        <div>English</div>
                    </div>
                </li>
                <li class="login-out-box">
                    <a href="#" id="loginOut">
                        <i class="iconfont icon-logout"></i>
                        <span class="login-out">Logout</span>
                    </a>
                </li>
                <li class="aside-toggle">
                    <a href="javascript:;" id="asideToggle">
                        <i class="fa fa-reorder"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>