<div class="webpage-wrapper">
    <div class="webpage-header">
        <div id="header" class="header-box">
            <div class="header-con">
                <div class="header-slogan">
                    <a href="#" class="logo">
                        <span class="logo-iocn">
                            <img src="image/logo.png" alt="logo">
                        </span>
                    </a>
                </div>
                <ul class="menu" id="nav">
                    <li data-index='1'>
                        <a href="#">Home</a>
                    </li>
                    <li data-index='2'>
                        <a href="#">User Management</a>
                    </li>
                    <li data-index='3'>
                        <a href="#">Device Management</a>
                    </li>
                    <li data-index='4'>
                        <a href="#">Account View</a>
                    </li>
                    <li data-index='5' class="cur-menu">
                        <a href="#">Batch Operation</a>
                    </li>
                    <li>
                        <a href="#">Service Request</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
                <div class="sub-menu-box">
                    <ul>
                        <li><img src="image/logo.png" alt="logo"></li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">User Management</a>
                        </li>
                        <li>
                            <a href="#">Device Management</a>
                        </li>
                        <li>
                            <a href="#">Account View</a>
                            <ul class="sub-menu">
                                <li data-index='4.1'><a href="#">Bill Inquiry</a></li>
                                <li data-index='4.2'><a href="#">Recharge</a></li>
                                <li><a href="#">Recharge History</a></li>
                                <li data-index='4.4'><a href="#">Balance Inquiry</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Batch Operation</a>
                            <ul class="sub-menu">
                                <li data-index='5.1' class="cur-menu"><a href="#">Batch Operation</a></li>
                                <li data-index='5.2'><a href="#">Batch Operation Log</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Service Request</a>
                            <ul class="sub-menu">
                                <li><a href="#">APN Request</a></li>
                                <li><a href="#">APN Request History</a></li>
                                <li><a href="#">APN Change</a></li>
                                <li><a href="#">SIM Request</a></li>
                                <li><a href="#">SIM Request History</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Report</a>
                            <ul class="sub-menu">
                                <li><a href="#">SIM States</a></li>
                                <li><a href="#">Order Management</a></li>
                                <li><a href="#">SIM Management</a></li>
                                <li><a href="#">Top 10 Data</a></li>
                                <li><a href="#">Top 10 SMS</a></li>
                                <li><a href="#">Top 10 SIMs</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <nav class="header-handle">
                    <div class="handle-custom-menu">
                        <ul class="menu-ul">
                            <li>
                                <a href="#">
                                    <i class="iconfont icon-tongzhi"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="iconfont icon-yonghu"></i>
                                </a>
                            </li>
                            <li class="login-out-box">
                                <a href="#" id="loginOut">
                                    <i class="iconfont icon-denglu"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="breadcrumb-box">
        <div class="breadcrumb-con">
            <i class="iconfont icon-home"></i>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Account View</li>
                <li class="active">Recharge</li>
            </ol>
        </div>
    </div>
    <div class="webpage-content" id="content">
    </div>
    <div id="footer" class="webpage-footer content-footer">
        <div class="copyright">
            <div>&copy; Copyright 2014 MTN. All Rights Reserved. ZTEsoft provide technical support services</div>
            <div>Recommended browsers IE9, IE10, IE11, Firefox, Safari, Opera, Chrome</div>
        </div>
    </div>
    <div class="bottom-fill">
        <div class="overlay"></div>
    </div>
</div>
