<div class="webpage-content-inner">
    <div class="content-box">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Access Point Name</label>
                        <div class="col-sm-7">
                            <input type="text" name="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">State</label>
                        <div class="col-sm-10">
                            <div class="btn-toolbar">
                                <button type="button" class="btn btn-date current">Pending</button>
                                <button type="button" class="btn btn-date">Processing</button>
                                <button type="button" class="btn btn-date">Completed</button>
                                <button type="button" class="btn btn-date">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary">Query</button>
                </div>
            </div>
        </form>
        <div id="Grid"></div>
    </div>
</div>