<div class="webpage-content-inner">
    <div class="content-box">
        <ul class="life-cicle">
            <li class="life-cicle-active">
                <span></span>
                <p class="text">APN&IP Information</p>
            </li>
            <li>
                <span></span>
                <p class="text">RADIUS Section</p>
            </li>
            <li>
                <span></span>
                <p class="text">SMS Routing</p>
            </li>
            <li>
                <span></span>
                <p class="text">Upload Attachment</p>
            </li>
        </ul>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Access Point Name</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control" placeholder="MTN">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Primary IP Pool Range</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control" placeholder="for example:10.0.0.5-10.0.0.10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Secondary IP Pool Range</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <i class="iconfont icon-jingtanhao" title="Specify Ip Range Like  10.0.5-10.0.0.10 and it cannot  be same as primary IP Pool"></i>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Protocols Needed</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control" id="ProtocolsNeeded">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">Port Numbers</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <i class="iconfont icon-jingtanhao" title="Specify Ip Range Like  10.0.5-10.0.0.10 and it cannot  be same as primary IP Pool"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Application Detail</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <i class="iconfont icon-jingtanhao" title="Specify Ip Range Like  10.0.5-10.0.0.10 and it cannot  be same as primary IP Pool"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Destination Host Name</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <i class="iconfont icon-jingtanhao" title="Specify Ip Range Like  10.0.5-10.0.0.10 and it cannot  be same as primary IP Pool"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Destination IP</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control">
                        </div>
                        <div class="col-sm-1">
                            <i class="iconfont icon-jingtanhao" title="Specify Ip Range Like  10.0.5-10.0.0.10 and it cannot  be same as primary IP Pool"></i>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label">IP Address Allocation</label>
                        <div class="col-sm-5">
                            <input type="text" name="" class="form-control" id="IPAddressAllocation">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
                <button type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
        <div id="Grid"></div>
    </div>
</div>